<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Order line item details</h2>
      <br>
      <br> ID: <%=  orderLineItem._id %>
      <br> orderID: <%=orderLineItem.orderID%>
      <br> lineNumber: <%=orderLineItem.lineNumber%>
      <br> productID: <%=orderLineItem.productID%>
      <br> quantity: <%=orderLineItem.quantity%>
      <hr>

      <form method="get" action="/orderLineItem">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>